<!-- Start Brand Area -->
<section>
    <div class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-image">
                        <img src="{{site.baseurl}}/assets/img/about/ab.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-text d-flex flex-column justify-content-between">
                            <h3>About our <span class="color">Machine Learning Solutions</span> organization</h3>
                            <p class="text-justify">
                                We're a team of passionate and talented individuals who offer Data and Machine Learning solutions.
                                We truly enjoy what we do, it is a pleasure to serve our clients. Our experienced data scientists are engineers 
                                and subject matter experts who understand how to implement projects that deliver value, and turn 
                                the challenges of adopting new technologies and process changes into opportunities.
                            </p>
                            <ul class="hidden-sm">
                                <li><a href="#">Staff who can customize Machine Learning solutions for your needs.</a></li>
                                <li><a href="#">End-to-end project management, maintenance and hand-off.</a></li>
                                <li><a href="#">Transforming new challenges into opportunities via value driven approaches.</a></li>
                                <li><a href="#">Remote or Onsite; Cloud or On-premise</a></li>
                            </ul>
                            <!-- <a class="button" href="about.html">Learn more</a> -->
                        </div>
                    </div>    
                </div>
        </div>
    </div>
</section>