<div class="card px-5 d-flex flex-column justify-content-between align-items-start">
    <h3 class="title-underline" id="underline-2">Digitizing Pre-Sales for Small Scale LNG Plants</h3 class="title-underline">
    <div class="case-img">
        <img src="{{site.baseurl}}/assets/img/case1/1.jpg" width="500" height="300" alt="">
    </div>
    <h4>Challenge</h4>
    <p>
        Our Client, an energy company focused on producing and providing LNG, wanted to improve 
        their sales engagement with their clients. This would help them improve their sales process 
        and customer engagement. The client wanted to show prospective clients a life like experience 
        of what it takes to own and operate LNG processing plants.Until then our client was relying 
        on no more than outdated power points. This created an opportunity to vastly improve the value 
        from each sales engagement.
    </p>
    <div class="collapse-content">
        <h4>Solution</h4>
        <p>It’s expected that our work will transform our client’s sales presentation to their customers and 
            will be attributed with helping our client close the sale for some of their LNG plants. The solution 
            BKO Services developed was to build and deploy a modern 3D Sales Model application. The model starts 
            with a zoomed-out aerial view of the customer site, and project an image of LNG equipment configuration 
            on the aerial image. The application allows the user to zoom in on the aerial image and arrive to 
            “street view” and walk the site.
        </p>
        <div>
            <h4>Approach</h4>
            <p>
                Our approach was split into 3 branches.
                <ul>
                    <li>
                        <h6>Sales Models:</h6>
                        <p>
                            Customer Application to deliver a polished 3D Sales Model presentation to the customer.
                        </p>
                    </li>
                    <li>
                        <h6>Custom Design:</h6>
                        <p>
                            User Interface that allows customizing LNG plants to the respective users and configurations.
                        </p>
                    </li>
                    <li>
                        <h6>Solid Infrastructure:</h6>
                        <p>
                            Back-end infrastructure to provide the infrastructure, integration, security & documentation 
                            needed to effectively manage the User Interface and Customer Application.
                        </p>
                    </li>
                </ul>
            </p>
        </div>
        <h4>Customer Application</h4>
        <div class="case-img">
            <img src="{{site.baseurl}}/assets/img/case1/3.jpg"  width="500" height="400" alt="">
        </div>
        <p>
            The goal of the Customer Application is to deliver a polished 3D Sales Model presentation to the customer. 
            The basic model will start with a zoomed-out aerial view of the customer site. The application will project 
            an image of client’s equipment configuration on the aerial image. Users can zoom in on the aerial image 
            and get to 3D sales model image “street view”. Users will be able to continue to zoom in, and navigate 
            360 degrees around the 3D template.
        </p>
        <div class="case-img">
            <img src="{{site.baseurl}}/assets/img/case1/4.png" class="img-fluid" alt="">
        </div>
        <h4>User Interface</h4>
        <p>
            The goal of the User Interface is to customize the Customer Application so it is tailored to each customer’s 
            configuration. The User Interface will enable client sales employees to enter all relevant data into a 
            display. Once information is entered and submitted, the application will essentially build a new plant 
            model each time. Once created, the plant model will exist for use throughout the customer sales process.
        </p>
        <div class="case-img">
            <img src="{{site.baseurl}}/assets/img/case1/5.png" class="img-fluid" alt="">
        </div>
        <h4>Back-end</h4>
        <p>
            The goal of the Back-end deliverables is to provide the infrastructure, integration, security & documentation needed to 
            effectively manage the User Interface and Customer Application.
        </p>
        <ul>
            <li>
                Hosted Azure Platform on Client’s Azure account
            </li>
            <li>
                Application and UI built with Unity WebGL
            </li>
            <li>
                Development platform
            </li>
            <li>
                Map API Integration
            </li>
            <li>
                SQL Server Database
            </li>
            <li>
                API/Middleware Integration
            </li>
            <li>
                Role-based Security using AD Authentication
            </li>
        </ul>
        <h4>Conclusion</h4>
        <p>
            BKO Services built an innovative digital solution that optimized business development for an LNG 
            Client. Gone are the days when the sales team have to explain to their customers what this new 
            multimillion dollar LNG investment is going to provide. They simply now show their customers what 
            their new plant will look like, where it will be located and take them on a journey to interact 
            with their equipment.
        </p>
    </div>
    <div class="read-more-less">
        <a>Read More</a>
    </div>
</div>