<div class="clients-area pt-20 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-1.png" width="100" height="50" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-2.png" width="100" height="50" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-3.png" width="100" height="50" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-4.png" width="100" height="50" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-5.png" width="100" height="50" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-6.png" width="100" height="50" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>