<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-80 pb-20">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>2421 Tangley St, Houston, TX 77005, USA</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>(281) 221-2836</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>E-mail us</h4>
                            <span>info@bkoservices.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-50 pb-30">
            <div class="footer-pattern">
                <img src="{{site.baseurl}}/assets/img/footer/footer_map.png" alt="">
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo/bko_white.png" width="200" height="100" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                        <div class="footer-text text-justify">
                            <p>BKO Services provides Data Engineering, Machine Learning, and OSIsoft application development services for the O&G, Power, processing, and manufacturing industries.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="{{site.twitter_url}}"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="{{site.pinterest_url}}"><i class="fab fa-linkedin google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/pages/resources">Team</a></li>
                            <li><a href="/pages/services">Services</a></li>
                            <li><a href="/pages/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>What makes BKO Services one of a kind?</h3>
                        </div>
                        <div class="footer-text mb-25 text-justify">
                            <p>Grounded with a solid understanding of AI academic theory, our industry subject matter and data science experts understand how to implement projects that deliver value, and turn the challenges of adopting new technologies and process changes into opportunities.</p>
                        </div>
                        {% include subscribe.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
