<!--Blog Area Start-->
<div class="blog-area fix area-padding grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2 class="title-underline">The Data News</h2>
          <p class="mt-30 mb-30">
            We are in a process of constantly updating our knowledge by reading
            technical papers, blogs, articles, white papers and many more
            sources that constantly come up with new information. Here, all of
            that knowledge is consolidated and presented as interesting articles
            that capture the crux of those topics.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start single blog -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog">
          <div class="blog-image">
            <a class="image-scale" href="#">
              <img src="{{site.baseurl}}/assets/img/blog/b1.png" alt="" />
            </a>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <span class="admin-type">
                <i class="fa fa-user"></i>
                Ziad
              </span>
              <span class="date-type">
                <i class="fa fa-calendar"></i>
                20 july, 2019
              </span>
              <span class="comments-type">
                <i class="fa fa-comment-o"></i>
                13
              </span>
            </div>
            <a href="#">
              <h4>Anomaly detection in rotating equipment</h4>
            </a>
          </div>
        </div>
      </div>
      <!-- End single blog -->
      <!-- Start single blog -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog">
          <div class="blog-image">
            <a class="image-scale" href="#">
              <img src="{{site.baseurl}}/assets/img/blog/b2.png" alt="" />
            </a>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <span class="admin-type">
                <i class="fa fa-user"></i>
                Sampath
              </span>
              <span class="date-type">
                <i class="fa fa-calendar"></i>
                13 may, 2018
              </span>
              <span class="comments-type">
                <i class="fa fa-comment-o"></i>
                16
              </span>
            </div>
            <a href="#">
              <h4>Use of GANs for domain adaptation</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog">
          <div class="blog-image">
            <a class="image-scale" href="#">
              <img src="{{site.baseurl}}/assets/img/blog/b3.jpeg" alt="" />
            </a>
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <span class="admin-type">
                <i class="fa fa-user"></i>
                Ziad
              </span>
              <span class="date-type">
                <i class="fa fa-calendar"></i>
                24 april, 2019
              </span>
              <span class="comments-type">
                <i class="fa fa-comment-o"></i>
                07
              </span>
            </div>
            <a href="#">
              <h4>Say Hello to SEEQ, the time-series visual aid</h4>
            </a>
          </div>
        </div>
      </div>
      <!-- End single blog -->
    </div>
    <!-- End row -->
  </div>
</div>
<!--End of Blog Area-->
