<!-- Service area start -->
<section class="service-area grey-bg area-padding">
    <div class="container">
       <div class="row">
            <div class="col-xs-12 services-header d-flex flex-column align-items-center pb-20 px-3">
                <h2 class="title-underline">Our Services</h2>
                <p  class="text-justify px-10">
                    BKO Services has extensive industrial experience coupled with strong presence in the energy
                    domain. We have our presence in many major national and international power and Oil&Gas
                    companies.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service text-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/renewable.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Renewable Resources Optimization</a></h4>
                        <p>Forecasting power generation from renewable assets like wind, solar and storage can get 
                            complicated. We can help renewable operators optimize their asset dispatch by building Deep Learning 
                            and Deep Reinforcement Learning algorithms that outperform traditional methods.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-service end-->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/forecast.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Demand Forecasting</a></h4>
                        <p>At BKO Services, we use some of the most advanced Machine Learning approaches to build forecasting
                            algorithms for commodities such as energy demand and price which are used by organizations for trading purposes 
                            and to optimize their operational activities.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-service end-->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service text-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/operating.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Remote Operations Management</a></h4>
                        <p>BKO Services specializes specializes in leveraging the power of AI to monitor your plant operations. 
                            We build machine health monitoring algorithms to transform your equipment maintenance strategy to an 
                            on-demand one and seamlessly integrate it with your enterprise workflows.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-service end-->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/dt.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Digital Twins</a></h4>
                        <p>We extract the power of ML to build digital replicas of your process equipment which can then be used by engineers
                            to mix and match different operating configurations and used in a number of scenarios such as trading, forecasting and operations planning.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service text-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/money.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Capital Optimization</a></h4>
                        <p>We use ML to interrogate historic spending, scheduling and operations data and combine them with 
                            accurate visualizations of expected and actual costs. This provides planning teams to keep track
                            and scale operations up or down in response to status quo.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-service end-->
            <div class="col-md-4 col-sm-6 col-xs-12 p-0">
                <div class="single-service">
                    <div class="service-img">
                        <img src="{{site.baseurl}}/assets/img/icons/data.svg" alt="">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Data Services</a></h4>
                        <p>BKO Services provides wide variety of data services relating to enterprise historian
                            systems such as OSI PI and also cloud technologies such as AWS, Azure and GCP.
                        </p>
                    </div>
                </div>
            </div>
            <!-- single-service end-->
        </div>
    </div>
</section>
<!-- Service area End -->
