<!-- Start Challange Area -->
<div class="tab-area fix area-padding">
    <div class="container">
        <div class="row">
            <div class="services-header d-flex flex-column align-items-center px-3">
                <h2 class="title-underline">Our Expertise</h2>
                <p  class="text-justify">
                    We offer wide-variety of services acrooss different sectors of the power and oil & gas industries. 
                    We are experts in turning raw data and unstructured data into a profit making business opportunity 
                    for our clients with the help of our partners SEEQ and OSI Soft.
                </p>
            </div>
            <!-- End single page -->
            <div class="col-md-12 col-sm-12 col-xs-12 px-0">
                <div class="tab-menu">
                     <!-- Nav tabs -->
                    <ul class="nav nav-tabs d-flex justify-content-between align-items-center" role="tablist">
                        <li class="active">
                            <a href="#p-view-1" role="tab" data-toggle="tab">
                                <span class="cha-icon"><img src="{{site.baseurl}}/assets/img/icons/downstream.svg" alt="" width="50" height="69"></span>
                                <span class="cha-title">Downstream</span>
                            </a>
                        </li>
                        <li>
                            <a href="#p-view-2" role="tab" data-toggle="tab">
                                <span class="cha-icon"><img src="{{site.baseurl}}/assets/img/icons/enterprise.svg" alt="" width="50" height="69"></span>
                                <span class="cha-title">Enterprise</span>
                            </a>
                        </li>
                        <li>
                            <a href="#p-view-3" role="tab" data-toggle="tab">
                                <span class="cha-icon"><img src="{{site.baseurl}}/assets/img/icons/power.svg" alt="" width="50" height="69"></span>
                                <span class="cha-title">Power & Utilities</span>
                            </a>
                        </li>
                        <li>
                            <a href="#p-view-4" role="tab" data-toggle="tab">
                               <span class="cha-icon"><img src="{{site.baseurl}}/assets/img/icons/upstream.svg" alt="" width="50" height="69"></span>
                                <span class="cha-title">Upstream</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="p-view-1" >
                        <div class="tab-inner">
                            <div class="single-machine row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="tab-img">
                                        <img src="{{site.baseurl}}/assets/img/services/downstream.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="machine-text">
                                        <h3>Downstream</h3>
                                        <p class="text-justify">
                                            Integrating plant real-time data systems with trading, marketing, and distribution systems provides
                                             a basis for AI predictive tools to inform and impact operations in time to meet evolving market needs. 
                                             We can visit you to discuss the entire supply and logistics chain to discover how AI can improve performance.
                                        </p>
                                        <ul>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                            <li><a href="#">Digital content marketing online clients plateform</a></li>
                                            <li><a href="#">Safe secure services for you online email account</a></li>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="p-view-2">
                        <div class="tab-inner">
                            <div class="single-machine row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="tab-img">
                                        <img src="{{site.baseurl}}/assets/img/services/enterprise.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="machine-text">
                                        <h3>Enterprise</h3>
                                        <p class="text-justify">
                                            BKO Services defines and designs Enterprise Cloud based solutions for Advanced 
                                            Analytics applications. Real-time and financial data stored in your Data Lake is 
                                            available to support operational and investment decision making at all levels.
                                        </p>
                                        <ul>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                            <li><a href="#">Digital content marketing online clients plateform</a></li>
                                            <li><a href="#">Safe secure services for you online email account</a></li>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="p-view-3">
                        <div class="tab-inner">
                            <div class="single-machine row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="tab-img d-flex justify-content-center">
                                        <img src="{{site.baseurl}}/assets/img/services/utilities.png" height="356px" width="370px">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="machine-text">
                                        <h3>Power & Utilities</h3>
                                        <p class="text-justify">
                                            Valuable assets and insights can be created from equipment operational data using 
                                            Machine Learning. Our experts can prototype, test and select the Machine Learning 
                                            models most likely to meet your operational goals.
                                        </p>
                                        <ul>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                            <li><a href="#">Digital content marketing online clients plateform</a></li>
                                            <li><a href="#">Safe secure services for you online email account</a></li>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="p-view-4">
                        <div class="tab-inner">
                            <div class="single-machine row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="tab-img">
                                        <img src="{{site.baseurl}}/assets/img/services/upstream.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="machine-text">
                                        <h3>Upstream</h3>
                                        <p class="text-justify">
                                            Visualizing and optimizing exploration and production strategies from discovery 
                                            to production, we can build integrated analytics systems that will take account 
                                            of all parameters and advise on optimum design and operational characteristics. 
                                            Schedule a meeting now with one of our upstream experts.
                                        </p>
                                        <ul>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                            <li><a href="#">Digital content marketing online clients plateform</a></li>
                                            <li><a href="#">Safe secure services for you online email account</a></li>
                                            <li><a href="#">Innovation idea latest business tecnology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end column -->
        </div>
        <!-- end Row -->
    </div>
</div>
<!-- End Tab end -->
