<section class="showcase">
    <div class="showcase-video">
        <video autoplay playsinline loop muted height="400">
            <source src="{{site.baseurl}}/assets/img/slider/background.webm" type="video/webm" ></source>
            <source src="{{site.baseurl}}/assets/img/slider/background.mp4" type="video/mp4" ></source>
            <source src="{{site.baseurl}}/assets/img/slider/background.ogg" type="video/ogg" ></source>
        </video>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-8 col-xs-5 showcase-text">
                <h1>AI & Data Science solutions from Real-Time Data</h1>
                <br>
                <br>
                <br>
                <br>
                <div>



                </div>

                <div class="showcase-icons d-flex justify-content-between align-items-center flex-wrap">
                    <div>
                        <img src="{{site.baseurl}}/assets/img/icons/seeq2.png" width="100px">
                    </div>
                    <div>
                        <img src="{{site.baseurl}}/assets/img/icons/aws2.png" width="100px">
                    </div>
                    <div>
                        <img src="{{site.baseurl}}/assets/img/icons/azure.svg" width="70px">
                    </div>
                    <div>
                        <img src="{{site.baseurl}}/assets/img/icons/gcp.svg" width="70px">
                    </div>
                    <div>
                        <img src="{{site.baseurl}}/assets/img/icons/osi_wbg.svg" width="100px">
                    </div>
                    <!-- <img src="{{site.baseurl}}/assets/img/icons/seeq2.png" width="100px">
                    <img src="{{site.baseurl}}/assets/img/icons/aws2.png" width="100px">
                    <img src="{{site.baseurl}}/assets/img/icons/azure.svg" width="70px">
                    <img src="{{site.baseurl}}/assets/img/icons/gcp.svg" width="70px">
                    <img src="{{site.baseurl}}/assets/img/icons/osi.png" width="100px"> -->
                </div>
            </div>
            <div class="col-lg-3 col-xs-10">
              <a href="{{site.baseurl}}/pages/contact" style="margin-top: 260px; transform: scale(1.3);" class="button">Get in Touch</a>
            </div>
        </div>
    </div>
    <div class="showcase-skew"></div>
</section>
<div class="sayings px-3">
    <h4><i>“Where there is data smoke, there is business fire.”</i></h4>
    <span>-Thomas Redman</span>
    <span>(The Data Doc)</span>
</div>
