<section class="founders grey-bg area-padding">
  <div class="container">
    <div class="col-12 text-center">
      <div>
        <h2 class="pb-20 title-underline d-inline-block position-relative">
          The Founders
        </h2>
      </div>
    </div>
    <div class="row pt-40 d-flex justify-content-center align-content-center">
      <div
        class="col-lg-6 col-md-6 col-sm-9 col-xs-8 pt-20 pb-20 d-flex justify-content-lg-end justify-content-md-end justify-content-sm-center"
      >
        <div class="team-card card">
          <div class="team-bg">
            <img src="{{site.baseurl}}/assets/img/team/ceo.jpg" />
          </div>
          <div class="team-profile-pic">
            <img src="{{site.baseurl}}/assets/img/team/shaun2.png" />
          </div>
          <div class="team-name">
            <h4>Shaun Wright</h4>
            <h5 class="text-center">CEO</h5>
          </div>
          <div class="team-desc">
            <p class="">
              <span>Shaun</span> is a successful serial entrepreneur with
              experience running Oil and Gas and IT businesses. He’s the founder
              of several successful product and services companies, building and
              selling innovative products that have been industry changers. He
              was the President and CEO of a publicly listed company, General
              Manager with P&L responsibilities, and Global Sales Manager of
              several large custom consulting groups.
            </p>
          </div>
          <div class="container-fluid">
            <div class="row social-media">
              <div class="col-4 d-flex justify-content-center">
                <a
                  ><img
                    src="{{site.baseurl}}/assets/img/logo/linkedin_logo.png"
                /></a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a href="mailto: shaun@bkoservices.com"
                  ><img src="{{site.baseurl}}/assets/img/logo/open-email.png"
                /></a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a
                  ><img src="{{site.baseurl}}/assets/img/logo/writing.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-9 col-xs-8 pt-20 pb-20d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center"
      >
        <div class="team-card card ziad">
          <div class="team-bg">
            <img src="{{site.baseurl}}/assets/img/team/ceo2.jpg" />
          </div>
          <div class="team-profile-pic">
            <img src="{{site.baseurl}}/assets/img/team/ziad.jpg" />
          </div>
          <div class="team-name">
            <h4>Ziad Katrib</h4>
            <h5 class="text-center">COO</h5>
          </div>
          <div class="team-desc">
            <p class="">
              <span>Ziad</span> specializes in developing and deploying
              industry-grade machine learning applications. He has led cross
              functional teams that use cutting-edge machine learning algorithms
              to deliver pragmatic solutions for business problems. He is an
              expert in applying machine learning and deep learning to event
              detection, sensor data, and turbine performance optimization for
              industrial systems. He also advises leaders on transforming
              business processes using AI in the industrial space.
            </p>
          </div>
          <div class="container-fluid">
            <div class="row social-media">
              <div class="col-4 d-flex justify-content-center">
                <a
                  ><img
                    src="{{site.baseurl}}/assets/img/logo/linkedin_logo.png"
                /></a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a href="mailto: ziad@bkoservices.com"
                  ><img src="{{site.baseurl}}/assets/img/logo/open-email.png"
                /></a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a
                  ><img src="{{site.baseurl}}/assets/img/logo/writing.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
