---
layout: page
title: Case Studies
---
<section class="area-padding cases">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 d-flex flex-column justify-content-start mb-4">
                <div class="card side-nav">
                    <ul>
                        <li>
                            <a href="#case4">AI based Optimization for Equipment Maintenance Scheduling</a>
                        </li>
                        <li>
                            <a href="#case1">Digitizing Pre-Sales for Small Scale LNG Plants</a>
                        </li>
                        <li>
                            <a href="#case2">Hydrocarbon Prospecting with Machine Learning</a>
                        </li>
                        <li>
                            <a href="#case3">Optimizing Merchant Power Generation for Deregulated Power Markets</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 d-flex flex-column justify-content-between">
                <div class="row case" id="case4">
                    <div class="col-12">
                        {% include case4.html %}
                    </div>
                </div>
                <div class="row case" id="case1">
                    <div class="col-12">
                        {% include case1.html %}
                    </div>
                </div>
                <div class="row case" id="case2">
                    <div class="col-12">
                        {% include case2.html %}
                    </div>
                </div>
                <div class="row case" id="case3">
                    <div class="col-12">
                        {% include case3.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>